.main-menu {

}

.main-menu__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.main-menu__item {
  display: flex;
}

.main-menu__link {
  font-size: 18px;
  line-height: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
}
