.advantages{
  padding-top: 80px;
  padding-bottom: 80px;
}
.advantages .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__title {
  margin-bottom: 60px;
  font-size: 48px;
  line-height: 48px;
  font-weight: bold;
}
.advantages__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.advantages__item {
  text-align: center;
}
.advantages__item-icon {
  width: 143px;
  height: 143px;
}
.advantages__text {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 36px;
}
