.header {
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.7);
}
.header__top {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  border-bottom: 2px solid #1a9f29;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 23px;
}
.logo__icon {
  width: 46px;
  height: 44px;
  margin-right: 16px;
}
.logo__text {
  text-transform: uppercase;
  color: #1a9f29;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}
.header-top__links {
  width: 363px;
}
.header-top__links a {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 22px;
}
.decor-circle {
  display: inline-block;
  vertical-align: middle;
  content: '';
  width: 3px;
  height: 3px;
  background-color: #1a9f29;
  margin-left: 5px;
  border-radius: 50%;
}
.contacts {
  width: 360px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts__address {
  width: 168px;
}

.contacts__address-icon {
  width: 13px;
  height: 18px;
}
.contacts__address-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
  text-decoration: underline;
}
.contacts__tel {
  width: 169px;
}
.contacts__tel-icon {
  width: 18px;
  height: 18px;
  fill: #1a9f29;
}
.contacts__tel-link {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 300;
}
.contacts__tel-link-bold {
  font-weight: bold;
}
